     <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="photo text-center">
                    <%= image_tag "/assets/AWozniak-1.jpg" %>
                </div>
                <div id="text-header">
                    <h1 class="h-cv">
                        Aleksander Woźniak
                    </h1>
                    <h2 class="h-cv">Student Automatyki i Robotyki @ AGH</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                
                <div class="box">
                    <h2 class="h-cv">
                        O MNIE
                    </h2>
                    <p> 
                        Obecnie poza studiowaniem wykonuję również 
                        swoje pierwsze projekty w <strong>Ruby on Rails</strong>.
                        W projektach wykorzystuję <strong>HTML5, CSS3 / SASS
                        </strong> oraz <strong>Ruby</strong>. 
                        Pojawiły się też pierwsze wdrożenia JavaScriptu w postaci <strong>jQuery</strong> oraz <strong>Angular.js</strong>.
                    </p>
                    <p>Ostatnie projekty:</p>
                    <ul>
                        <li>
                            <p>
                                Aplikacja e-commerce mająca możliwość 
                                pobierania comiesięcznych opłat za konto w wersji
                                Pro.
                                <strong>
                                    <%= link_to "Odwiedź stronę.", 'https://stormy-earth-37856.herokuapp.com/', target: '_blank' %>
                                </strong>
                            </p>
                        </li>
                        <li>
                            <p>
                                W pełni funkcjonalna aplikacja typu Twitter.
                                <strong>
                                   <%= link_to "Odwiedź stronę.", 'https://wozniakalex.com', target: '_blank' %>
                                </strong>
                            </p>
                        </li>
                    </ul>
                    <p>
                        Przy ich realizacji zostały wykorzystane:
                        <strong>Bootstrap, REST API, metodologia TDD.</strong>
                    </p>
                </div>
                
                <! DOŚWIADCZENIE >
                <div class="box">
                    <h2 class="h-cv">Doświadczenie</h2>
                    <div class="exp-pozycja clearfix">
                        <div class="col-xs-4">
                            <div class="where">Grenton Smart Home</div>
                            <div class="time">01.2017 - 05.2017</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="profession">Tester systemu inteligentnych domów</div>
                            <div class="description">Projektowanie, testowanie oraz instalacja systemów Smart Home.</div>
                        </div>
                    </div>
                    
                    <div class="exp-pozycja clearfix">
                        <div class="col-xs-4">
                            <div class="where">Delphi Automotive</div>
                            <div class="time">04.2016 - 11.2016</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="profession">Staż na stanowisku Specjalista ds. Klasyfikowania i Indeksowania Informacji</div>
                            <div class="description">Udział w projekcie tworzenia autonomicznych samochodów.</div>
                        </div>
                    </div>
                    
                    <div class="exp-pozycja clearfix">
                        <div class="col-xs-4">
                            <div class="where">Praca za granicą w Wielkiej Brytanii</div>
                            <div class="time">07.2015 - 09.2015</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="profession">Praca przy utrzymaniu produkcji na hali maszynowej w drukarni</div>
                            <div class="description">Pracownik pomocniczy przy konserwacji obiektów maszynowych i elementów maszyn, <br> Praca jako magazynier, komisjoner.</div>
                        </div>
                    </div>
                        
                    <div class="exp-pozycja clearfix">
                        <div class="col-xs-4">
                            <div class="where">MEILLERGHP Sp. z o.o.</div>
                            <div class="time">2013 - 2014</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="profession">Utrzymanie ruchu</div>
                            <div class="description">Praca na hali maszynowej, obsługa maszyn.</div>
                        </div>
                    </div>
                </div>
                
                <! EDUKACJA > 
                <div class="box">
                    <div class="edu">
                        <h2 class="h-cv">Wykształcenie</h2>
                        <ul class="clearfix">
                            <li>
                                <div class="time">03.2017 - 09.2018</div>
                                <div class="profession">Automatyka i Robotyka
                                    <div class="description">Studia magisterskie</div>
                                </div>
                            </li>
                            <li>
                                <div class="time">10.2013 - 03.2017</div>
                                <div class="profession">Automatyka i Robotyka
                                    <div class="description">Studia inżynierskie.<br>
                                        Temat pracy: <i>"Stworzenie systemu inteligentnego pomieszczenia do uprawy roślin w oparciu o platformę Raspberry Pi"</i>.
                                    </div>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-5">
                <! KONTAKT >
                <div class="contacts">
                   <div class="box clearfix well">
                 <div class="icon pull-left text-center">
                        <span class="fa fa-address-card fa-fw">
                        </span>
                    </div>
                <h2 class="h-cv">Kontakt</h2>
                        <div class="contact">
                            <div class="icon pull-left text-center">
                                <span class="fa fa-envelope fa-fw">
                                </span>
                            </div>
                            <div class="title only pull-right">
                            <%= mail_to "4wozniak@gmail.com" %></div>
                        </div>
                    
                        <div class="contact">
                            <div class="icon pull-left text-center">
                                <span class="fa fa-phone fa-fw">
                                </span>
                            </div>
                            <div class="title only pull-right"> +48 512 968 745 </div>
                        </div>
                        
                        <div class="contact">
                            <div class="icon pull-left text-center">
                                <span class="fa fa-github fa-fw">
                                </span>
                            </div>
                            <div class="title only pull-right"> <%= link_to "Github Profile", 'http://github.com/smilzy', target: '_blank' %> </div>
                        </div>
                    </div>
                </div>
                
                <! UMIEJĘTNOŚCI >
                <div class="skills">
                    <div class="box clearfix well">
                        <div class="icon pull-left text-center">
                            <span class="fa fa-language fa-fw">
                            </span>
                        </div>
                        <h2 class="h-cv">Umiejętności</h2>
                        <div class="clearfix">
                            <div class="skillbar clearfix " data-percent="80%">
                            	<div class="skillbar-title"><span>HTML5</span></div>
                            	<div class="skillbar-bar" style="background: #8E0E00;"></div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="68%">
                            	<div class="skillbar-title"><span>CSS3 / SASS</span></div>
                            	<div class="skillbar-bar" style="background: #8E0E00;"></div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="60%">
                            	<div class="skillbar-title"><span>Ruby / Rails</span></div>
                            	<div class="skillbar-bar" style="background: #8E0E00;"></div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="35%">
                            	<div class="skillbar-title"><span>JavaScript</span></div>
                            	<div class="skillbar-bar" style="background: #8E0E00;"></div>
                            </div> <!-- End Skill Bar -->
                        </div>
                    </div>
                </div>
                <! KURSY ETC >
                <div class="courses">
                    <div class="box clearfix well">
                        <div class="icon pull-left text-center">
                            <span class="fa fa-graduation-cap fa-fw">
                            </span>
                        </div>
                        <h2 class="h-cv">Kursy / szkolenia</h2>
                        <div class="clearfix">
                            <ul>
                                <li>
                                    <p> National Instruments LabVIEW </p>
                                </li>
                                <li>
                                    <p> Kurs Cad Competition Autodesk Inventor z wykorzystaniem druku 3D </p>
                                </li>
                                <li>
                                    <p> Podstawowa znajomość pakietu MATLAB/SimuLink </p>
                                </li>
                                <li>
                                    <p> Znajomość pakietu Microsoft Office: Excel, Word, Power Point </p>
                                </li>
                            </ul>
                            
                            <div class="clearfix">
                                <div class="col-xs-4">
                                    <div class="name"> Angielski </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="rating">
                                        <% stars = "<i class='fa fa-star fa-fw'></i>" *5 %>
                                        <%= stars.html_safe %>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clearfix">
                                <div class="col-xs-4">
                                    <div class="name"> Niemiecki </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="rating">
                                        <% stars = "<i class='fa fa-star fa-fw'></i>" *1 %>
                                        <% stars_blank = "<i class='fa fa-star fa-fw transparent'></i>" *3 %>
                                        <% star_half = "<i class='fa fa-star-half-o fa-fw'></i>" %>
                                        <%= stars.html_safe + star_half.html_safe + stars_blank.html_safe %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>